{% macro headline(
	heading_level,
	heading_size,
	heading_text,
	heading_classes,
	heading_id,
	description_text,
	description_classes,
	ctas
) %}

	{% import "../button/template.njk" as button %}
	{% import "../heading/template.njk" as heading %}

	{# Heading template #}

	<div class="component component--headline">
		<div class="container mx-auto">
			{{ heading.heading(
					heading_text=heading_text,
					heading_level=heading_level,
					heading_size=heading_size,
					heading_classes="component--headline__heading " + heading_classes
				)
			}}
			<div class="component--headline__description {{ description_classes }}">
				{{ description_text | safe }}
			</div>
			{% if ctas %}
				<div class="component--headline__button-group">
					{% for cta in ctas %}
						{{ button.button(
								button_text=cta.button_text,
								button_url=cta.button_url,
								button_size=cta.button_size,
								button_display="inline-block",
								button_classes=cta.button_classes,
								button_variation=cta.button_variation
							)
						}}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>

{% endmacro %}