{% macro button(
	button_text,
	button_url,
	button_size,
	button_variation,
	button_classes,
	button_display
) %}

	{# Set a button size. If empty, no clasess are applied #}

	{{ setDisplay }}
		{% if button_display === 'block' %}
			{% set button_display = "block" %}
		{% elif button_display === 'inline-block' %}
			{% set button_display = "inline-block" %}
		{% else %}
			{% set button_display = '' %}
		{% endif %}
	{{ setDisplay }}

	{{ setSize }}
		{% if button_size === 'lg' %}
			{% set button_size = "button--lg" %}
		{% elif button_size === 'md' %}
			{% set button_size = "button--md" %}
		{% elif button_size === 'sm' %}
			{% set button_size = "button--sm" %}
		{% else %}
			{% set button_size = '' %}
		{% endif %}
	{{ setSize }}

	{{ setVariation }}
		{% if button_variation === 'primary' %}
			{% set button_variation = "button--primary" %}
		{% elif button_variation === 'secondary' %}
			{% set button_variation = "button--secondary" %}
		{% elif button_variation === 'outline' %}
			{% set button_variation = "button--outline" %}
		{% else %}
			{% set button_variation = '' %}
		{% endif %}
	{{ setVariation }}

	{# Button template #}

	<a
		href="{{ button_url }}"
		class="button {{ button_variation }} {{ button_size }} {{ button_classes }} {{ button_display }}"
	>
		<span class="button__text">
			{{ button_text }}
		</span>
	</a>

{% endmacro %}