{% macro button(text,url,size,variation,classes, display) %}

	{# Set a button size. If empty, no clasess are applied #}

	{{ setDisplay }}
		{% if display === 'block' %}
			{% set display = "block" %}
		{% elif display === 'inline-block' %}
			{% set display = "inline-block" %}
		{% else %}
			{% set display = '' %}
		{% endif %}
	{{ setDisplay }}

	{{ setSize }}
		{% if size === 'lg' %}
			{% set size = "button--lg" %}
		{% elif size === 'md' %}
			{% set size = "button-md" %}
		{% elif size === 'sm' %}
			{% set size = "button-sm" %}
		{% else %}
			{% set size = '' %}
		{% endif %}
	{{ setSize }}

	{{ setVariation }}
		{% if variation === 'primary' %}
			{% set variation = "button--primary" %}
		{% elif variation === 'secondary' %}
			{% set variation = "button--secondary" %}
		{% elif variation === 'outline' %}
			{% set variation = "button--outline" %}
		{% else %}
			{% set variation = '' %}
		{% endif %}
	{{ setVariation }}

	<a
		href="{{ url }}"
		class="button {{ variation }} {{ size }} {{ classes }} {{ display }}"
	>
		<span class="button__text">
			{{ text }}
		</span>
	</a>

{% endmacro %}