{% import "../button/template.njk" as button %}

{% macro stacked(src, alt, figcaption) %}
	<figure class="component component--figure">
		<img
			src="{{ src }}"
			alt="{{ alt }}"
		/>
		<figcaption>
			{{ figcaption }}
		</figcaption>
		{{ button.button("test") }}
	</figure>
{% endmacro %}