{% macro figure(
	figure_classes,
	image_src,
	image_params,
	image_alt,
	image_figcaption,
	image_srcset,
	image_sizes,
	image_classes,
	image_width,
	image_height
)%}

	{# Figure template #}

	<figure
		class="component component--figure {{ figure_classes }}"
	>
		<img
			srcset="{{ image_srcset }}"
			sizes="{{ image_sizes }}"
			src="{{ image_src }}{{ image_params }}"
			alt="{{ image_alt }}"
			loading="lazy"
			class="component--figure__image {{ image_classes }}"
			width="{{ image_width }}"
			height="{{ image_height }}"
		/>
		{% if image_figcaption %}
			<figcaption class="component--figure__figcaption">
				{{ image_figcaption }}
			</figcaption>
		{% endif %}
	</figure>

{% endmacro %}