{% macro figure(
	image_src,
	image_params,
	image_alt,
	image_figcaption,
	image_srcset,
	image_classes,
)%}

	{# Figure template #}

	<figure class="component component--figure">
		<img
			src="{{ image_src }}{{ image_params }}"
			alt="{{ image_alt }}"
			loading="lazy"
			class="{{ image_classes }}"
			srcset="{{ image_srcset }}"
		/>
		{% if figcaption %}
			<figcaption>
				{{ image_figcaption }}
			</figcaption>
		{% endif %}
	</figure>

{% endmacro %}