{% import "../headline/template.njk" as seed_headline %}
{% import "../figure/template.njk" as figure %}

{% macro hero(
	hero_classes,
	hero_container,
	hero_layout,
	image,
	headline
) %}

	{# Set hero container classes, default to container #}

	{{ setContainer }}
		{% if hero_container %}
			{% set hero_container = hero_container %}
		{% else %}
			{% set hero_container = "mx-auto container" %}
		{% endif %}
	{{ setContainer }}

	{# Set layout classes #}

	{{ setLayout }}
		{% if hero_layout === "image-left" %}
			{% set hero_image_position = "order-first" %}
			{% set hero_headline_padding = "md:pl-10 lg:pl-20" %}
		{% elif hero_layout === "image-right"  %}
			{% set hero_image_position = "md:order-last" %}
			{% set hero_headline_padding = "md:pr-10 lg:pr-20" %}
		{% else %}
			{% set hero_layout = "" %}
		{% endif %}
	{{ setLayout }}

	{# Hero template #}

	<div
		class="component component--hero {{ hero_classes }}"
	>
		<div class="{{ hero_container }}">
			<div
				class="md:grid grid-cols-2 flex flex-wrap lg:items-center"
			>
				{{ figure.figure(
						figure_classes=hero_image_position,
						image_src=image.image_src,
						image_params=image.image_params,
						image_alt=image.image_alt,
						image_figcaption=image.image_figcaption,
						image_srcset=image.image_srcset,
						image_sizes=image.image_sizes,
						image_classes=image.image_classes
					)
				}}
				{{ seed_headline.headline(
						headline_classes=headline.headline_classes + ' ' + hero_headline_padding,
						heading_text=headline.heading_text,
						heading_size=headline.heading_size,
						heading_level=headline.heading_level,
						heading_classes=headline.heading_classes,
						heading_url=headline.heading_url,
						description_text=headline.description_text,
						description_classes=headline.description_classes,
						ctas=headline.ctas
					)
				}}
			</div>
		</div>
	</div>

{% endmacro %}