{% macro heading(
	heading_level,
	heading_size,
	heading_text,
	heading_classes,
	heading_id,
	heading_url
) %}

	{# Set button level (ex: 1-6), Defaults to 1 if empty #}

	{{ setLevel }}
		{% if heading_level === 1 %}
			{% set heading_level = 1 %}
		{% elif heading_level === 2 %}
			{% set heading_level = 2 %}
		{% elif heading_level === 3 %}
			{% set heading_level = 3 %}
		{% elif heading_level === 4 %}
			{% set heading_level = 4 %}
		{% elif heading_level === 5 %}
			{% set heading_level = 5 %}
		{% elif heading_level === 6 %}
			{% set heading_level = 6 %}
		{% else %}
			{% set heading_level = 1 %}
		{% endif %}
	{{ setLevel }}

	{# Set font size #}

	{{ setSize }}
		{% if heading_size === 'xs' %}
			{% set heading_size = "text-xs" %}
		{% elif heading_size === 'sm' %}
			{% set heading_size = "text-sm" %}
		{% elif heading_size === 'base' %}
			{% set heading_size = "text-base" %}
		{% elif heading_size === 'lg' %}
			{% set heading_size = "text-lg" %}
		{% elif heading_size === 'xl' %}
			{% set heading_size = "text-xl" %}
		{% elif heading_size === '2xl' %}
			{% set heading_size = "text-2xl" %}
		{% elif heading_size === '3xl' %}
			{% set heading_size = "text-3xl" %}
		{% elif heading_size === '4xl' %}
			{% set heading_size = "text-4xl" %}
		{% elif heading_size === '5xl' %}
			{% set heading_size = "text-5xl" %}
		{% elif heading_size === '6xl' %}
			{% set heading_size = "text-6xl" %}
		{% elif heading_size === '7xl' %}
			{% set heading_size = "text-7xl" %}
		{% elif heading_size === '8xl' %}
			{% set heading_size = "text-8xl" %}
		{% elif heading_size === '9xl' %}
			{% set heading_size = "text-9xl" %}
		{% else %}
			{% set heading_size = '' %}
		{% endif %}
	{{ setSize }}

	{# Heading template #}

	<h{{heading_level}}
		class="component component--heading {{ heading_size }} {{ heading_classes }}"
		id="{{ heading_id }}"
	>
		{% if heading_url %}
			<a
				href="{{ heading_url }}"
				class="block"
			>
				{{ heading_text | safe }}
			</a>
		{% else %}
			{{ heading_text | safe }}
		{% endif %}
	</h{{heading_level}}>

{% endmacro %}