---
layout: layouts/base.njk
title: Buttons
---
{% import "../components/button/template.njk" as button %}

<h2 class="text-3xl mb-10">
	Sizes
</h2>

{{ button.button(
		text='Button Large',
		url='https://google.ca/',
		size="lg",
		classes="text-lg mr-2 py-4 px-6 bg-indigo-800 border-indigo-800 hover:bg-indigo-700 text-white rounded"
	)
}}

{{ button.button(
		text='Button Medium',
		url='https://google.ca/',
		size="md",
		classes="mr-2 py-3 px-4 bg-indigo-800 border-indigo-800 hover:bg-indigo-700 text-white rounded"
	)
}}

{{ button.button(
		text='Button Small',
		url='https://google.ca/',
		size="sm",
		classes="mr-2 py-2 px-3 bg-indigo-800 border-indigo-800 hover:bg-indigo-700 text-white rounded"
	)
}}

{{ button.button(
		text='Button No Size',
		url='https://google.ca/',
		classes="px-2 py-1 text-xs bg-indigo-800 border-indigo-800 hover:bg-indigo-700 text-white rounded"
	)
}}