---
layout: layouts/base.njk
title: Heading
sizes:
  - 'xs'
  - 'sm'
  - 'md'
  - 'base'
  - 'lg'
  - 'xl'
  - '2xl'
  - '3xl'
  - '4xl'
  - '5xl'
  - '6xl'
  - '7xl'
  - '8xl'
  - '9xl'
---
{% import "../components/heading/template.njk" as heading %}

<h2 class="text-3xl mb-10">
	Sizes
</h2>

{% for size in sizes %}
	{{ heading.heading(
			text='Heading '+size,
			level=3,
			size=size,
			classes="mb-6"
		)
	}}
{% endfor %}
