---
layout: layouts/base.njk
title: Hero
---
{% import "../components/hero/template.njk" as hero %}
{% import "../components/card/template.njk" as card %}


{% set img1 = "https://images.unsplash.com/photo-1550948390-6eb7fa773072?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format" %}
{% set img2 = "https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format" %}

{{ hero.hero(
	hero_layout="image-right",
	hero_classes="mb-20",
	hero_container="",
	image={
		"image_src": img1,
		"image_params": "&fit=crop&w=889&q=80",
		"image_alt": "Monet's Garden",
		"image_figcaption": "",
		"image_srcset": img1+"&fit=crop&w=1500&q=80 1500w, "+img1+"&fit=crop&w=899&q=80 889w, "+img1+"&fit=crop&w=768&q=80 768w",
		"image_sizes": "(min-width: 48em) 50vw, 100vw",
		"image_classes": "w-full mb-10 md:mb-0"
	},
	headline={
		"headline_classes": "align-middle",
		"headline_container": "",
		"heading_text": "Traveling to Monet's Garden in the Summer",
		"heading_size": "6xl",
		"heading_level": 2,
		"heading_classes": "mb-4",
		"heading_url": "https://www.google.ca/",
		"description_text": "<p>Ut urna sapien, rhoncus, placerat quis enenatis et condimentum non, viverra at ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim felis, dignissim at libero tempor, sollicitudin convallis leo. Etiam nec pulvinar orci. Phasellus consectetur arcu sit amet magna sollicitudin lacinia. In commodo enim nec felis semper, luctus ornare tortor pharetra. Aliquam semper dapibus bibendum.</p>",
		"description_classes": "mb-3 text-lg",
		"ctas": [
			{
				'button_text': "Primary",
				'button_variation': 'primary',
				'button_size': 'lg',
				'button_url': 'https://google.ca/',
				'button_classes': 'text-lg mr-2 py-4 px-6 bg-blue-700 border border-blue-700 text-white rounded'
			},
			{
				'button_text': "Secondary",
				'button_variation': 'secondary',
				'button_size': 'lg',
				'button_url': 'https://google.ca/',
				'button_classes': 'text-lg mr-2 py-4 px-6 border border-gray-300 text-gray-800 rounded'
			}
		]
	}
	)
}}

<div class="container mx-auto">
	<div class="md:grid grid-cols-3 gap-10 lg:gap-20">
		{{ card.stacked2(
			card_url="http://google.ca/",
			card_classes="mb-10 md:mb-0",
			image={
				"image_src": img1,
				"image_params": "&fit=crop&w=889&q=80",
				"image_alt": "Monet's Garden",
				"image_figcaption": "",
				"image_srcset": img1+"&fit=crop&w=1500&q=80 1500w, "+img1+"&fit=crop&w=899&q=80 889w, "+img1+"&fit=crop&w=768&q=80 768w",
				"image_sizes": "(min-width: 48em) 50vw, 100vw",
				"image_classes": "w-full"
			},
			headline={
				"headline_classes": "mt-6",
				"headline_container": "",
				"heading_text": "Exploring card designs in Nunjucks + Eleventy",
				"heading_size": "3xl",
				"heading_level": 2,
				"heading_url": "https://www.google.ca/123",
				"heading_classes": "mb-4",
				"description_text": "<p>Ut urna sapien, Praesent enim felis. Phasellus consectetur arcu sit amet magna sollicitudin lacinia.</p>",
				"description_classes": "mb-3",
				"ctas": [
					{
						'button_text': "Continue Reading >",
						'button_variation': 'text',
						'button_size': 'lg',
						'button_url': 'https://google.ca/',
						'button_classes': 'text-lg py-0 px-0 bg-white border border-transparent text-indigo-900 rounded ' 
					}
				]
			}
			)
		}}
		{{ card.stacked2(
			card_url="http://google.ca/",
			card_classes="mb-10 md:mb-0",
			image={
				"image_src": img2,
				"image_params": "&fit=crop&w=889&q=80",
				"image_alt": "Monet's Garden",
				"image_figcaption": "",
				"image_srcset": img2+"&fit=crop&w=1500&q=80 1500w, "+img2+"&fit=crop&w=899&q=80 889w, "+img2+"&fit=crop&w=768&q=80 768w",
				"image_sizes": "(min-width: 48em) 50vw, 100vw",
				"image_classes": "w-full"
			},
			headline={
				"headline_classes": "mt-6",
				"headline_container": "",
				"heading_text": "A card title",
				"heading_size": "3xl",
				"heading_level": 2,
				"heading_classes": "mb-3",
				"description_text": "<p>Ut urna sapien, Praesent enim felis. Phasellus consectetur arcu sit amet magna sollicitudin lacinia.</p>",
				"description_classes": "mb-3",
				"ctas": [
					{
						'button_text': "Continue Reading >",
						'button_variation': 'text',
						'button_size': 'lg',
						'button_url': 'https://google.ca/',
						'button_classes': 'text-lg py-0 px-0 bg-white border border-transparent text-indigo-900 rounded ' 
					}
				]
			}
			)
		}}
		{{ card.stacked2(
			card_url="http://google.ca/",
			image={
				"image_src": img1,
				"image_params": "&fit=crop&w=889&q=80",
				"image_alt": "Monet's Garden",
				"image_figcaption": "",
				"image_srcset": img1+"&fit=crop&w=1500&q=80 1500w, "+img1+"&fit=crop&w=899&q=80 889w, "+img1+"&fit=crop&w=768&q=80 768w",
				"image_sizes": "(min-width: 48em) 50vw, 100vw",
				"image_classes": "w-full"
			},
			headline={
				"headline_classes": "align-middle",
				"headline_container": "",
				"heading_text": "Another card title",
				"heading_size": "3xl",
				"heading_level": 2,
				"heading_classes": "mb-3 mt-6",
				"description_text": "<p>Ut urna sapien, Praesent enim felis. Phasellus consectetur arcu sit amet magna sollicitudin lacinia.</p>",
				"description_classes": "mb-3",
				"ctas": [
					{
						'button_text': "Continue Reading >",
						'button_variation': 'text',
						'button_size': 'lg',
						'button_url': 'https://google.ca/',
						'button_classes': 'text-lg py-0 px-0 bg-white border border-transparent text-blue-900 rounded underline' 
					}
				]
			}
			)
		}}
	</div>
</div>