---
layout: layouts/base.njk
title: Page Design Example
---
{% import "../components/hero/template.njk" as hero %}
{% import "../components/card/template.njk" as card %}
{% import "../components/header/template.njk" as header %}


{% set img1 = "https://images.unsplash.com/photo-1550948390-6eb7fa773072?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format" %}
{% set img2 = "https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format" %}

{{ hero.hero(
	hero_layout="image-right",
	hero_classes="mb-20 py-20 bg-yellow-100",
	hero_container="mx-auto container px-4 md:px-0",
	image={
		"image_src": img1,
		"image_params": "&fit=crop&w=889&q=80",
		"image_alt": "Monet's Garden",
		"image_figcaption": "",
		"image_srcset": img1+"&fit=crop&w=1500&q=80 1500w, "+img1+"&fit=crop&w=899&q=80 889w, "+img1+"&fit=crop&w=768&q=80 768w",
		"image_sizes": "(min-width: 48em) 50vw, 100vw",
		"image_classes": "w-full shadow-2xl"
	},
	headline={
		"eyebrow_text": "Travel, Exploration",
		"eyebrow_classes": "mb-3 uppercase text-sm tracking-wide block",
		"headline_classes": "mt-10",
		"headline_container": "",
		"heading_text": "Traveling to a magic garden in the summer",
		"heading_size": "",
		"heading_level": 2,
		"heading_classes": "mb-6 text-3xl md:text-4xl lg:text-6xl font-serif",
		"heading_url": "https://www.google.ca/",
		"description_text": "<p>Ut urna sapien, rhoncus, placerat quis enenatis et condimentum non, viverra at ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>",
		"description_classes": "mb-6 md:text-xl",
		"ctas": [
			{
				'button_text': "Explore the garden",
				'button_variation': 'primary',
				'button_size': 'lg',
				'button_url': '/button/',
				'button_classes': 'text-lg mr-2 py-3 px-5 bg-blue-700 border border-blue-700 text-white rounded'
			},
			{
				'button_text': "See all events",
				'button_variation': 'secondary',
				'button_size': 'lg',
				'button_url': '/heading/',
				'button_classes': 'text-lg mr-2 py-3 px-5 border border-gray-900 text-gray-900 rounded'
			}
		]
	}
	)
}}

{{ header.header(
	headline={
		"headline_classes": "mb-20 text-center max-w-xl container mx-auto",
		"headline_container": "",
		"heading_text": "Recent Articles",
		"heading_size": "4xl",
		"heading_level": 2,
		"heading_url": "/card/",
		"heading_classes": "mb-4 font-serif",
		"description_text": "<p>Ut urna sapien, Praesent enim felis. Phasellus consectetur arcu sit amet magna sollicitudin lacinia.</p>",
		"description_classes": "mb-3"
	})
}}

<div class="container mx-auto">
	<div class="md:grid grid-cols-3 gap-10 lg:gap-20">
		{{ card.stacked2(
			card_url="/card/",
			card_classes="mb-10 md:mb-0",
			image={
				"image_src": img1,
				"image_params": "&fit=crop&w=889&q=80",
				"image_alt": "Monet's Garden",
				"image_figcaption": "",
				"image_srcset": img1+"&fit=crop&w=1500&q=80 1500w, "+img1+"&fit=crop&w=899&q=80 889w, "+img1+"&fit=crop&w=768&q=80 768w",
				"image_sizes": "(min-width: 48em) 50vw, 100vw",
				"image_classes": "w-full"
			},
			headline={
				"eyebrow_text": "Travel, Exploration",
				"eyebrow_classes": "mb-3 uppercase text-sm tracking-wide block",
				"headline_classes": "mt-6",
				"headline_container": "",
				"heading_text": "Exploring card designs in Nunjucks + Eleventy",
				"heading_size": "3xl",
				"heading_level": 2,
				"heading_url": "/card/",
				"heading_classes": "mb-4",
				"description_text": "<p>Ut urna sapien, Praesent enim felis. Phasellus consectetur arcu sit amet magna sollicitudin lacinia.</p>",
				"description_classes": "mb-3"
			}
			)
		}}
		{{ card.stacked2(
			card_url="/figure/",
			card_classes="mb-10 md:mb-0",
			image={
				"image_src": img2,
				"image_params": "&fit=crop&w=889&q=80",
				"image_alt": "Monet's Garden",
				"image_figcaption": "",
				"image_srcset": img2+"&fit=crop&w=1500&q=80 1500w, "+img2+"&fit=crop&w=899&q=80 889w, "+img2+"&fit=crop&w=768&q=80 768w",
				"image_sizes": "(min-width: 48em) 50vw, 100vw",
				"image_classes": "w-full"
			},
			headline={
				"headline_classes": "mt-6",
				"headline_container": "",
				"heading_text": "A card title",
				"heading_size": "3xl",
				"heading_url": "/figure/",
				"heading_level": 2,
				"heading_classes": "mb-3",
				"description_text": "<p>Ut urna sapien, Praesent enim felis. Phasellus consectetur arcu sit amet magna sollicitudin lacinia.</p>",
				"description_classes": "mb-3"
			}
			)
		}}
		{{ card.stacked2(
			card_url="/hero/",
			image={
				"image_src": img1,
				"image_params": "&fit=crop&w=889&q=80",
				"image_alt": "Monet's Garden",
				"image_figcaption": "",
				"image_srcset": img1+"&fit=crop&w=1500&q=80 1500w, "+img1+"&fit=crop&w=899&q=80 889w, "+img1+"&fit=crop&w=768&q=80 768w",
				"image_sizes": "(min-width: 48em) 50vw, 100vw",
				"image_classes": "w-full"
			},
			headline={
				"headline_classes": "align-middle",
				"headline_container": "",
				"heading_text": "Another card title",
				"heading_size": "3xl",
				"heading_level": 2,
				"heading_classes": "mb-3 mt-6",
				"description_text": "<p>Ut urna sapien, Praesent enim felis. Phasellus consectetur arcu sit amet magna sollicitudin lacinia.</p>",
				"description_classes": "mb-3"
			}
			)
		}}
	</div>
</div>